.restaurant-card-container {

    border-bottom-style: solid;
    border-top-style: solid;
    border-width: .1px;
    border-color: rgb(233, 232, 232);
    /* transition-delay: 1s;
    transition:ease-in; */
}
.restaurant-card-container:hover {
    box-shadow: 3px 3px 3px rgb(210, 209, 209);;
    border-right-style: solid;
    border-left-style: solid;
    border-color: rgb(236, 235, 235);
    /* transition:ease-in; */
}

.restaurant-card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

p {
    font-size: 18px;
}

.restaurant-img-container {
    height: 100px;
    width: 100px;

}

.restaurant-img {
    height: 100%;
    width: 100%
}

