.profile-page-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-content: center;
    /* margin-top: 10rem; */
    /* height: calc(100vh - 305px); */
    height: calc(100vh - 135px);

}

.profile-page-left-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    height: 20rem;
}

.profile-page-left-wrapper-left-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}


.profile-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
}

.profile-img {
    border-radius: 5px;
    width: 200px;
    height: 150px;
}

.profile-info-container {
    width: 10rem;
}

.profile-page-left-wrapper-right-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-about-me-container {
    width: 100%;
    height: 150px;
}

.profile-change-password-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

.password-input {
    width: 100%;
}

.profile-change-password-btn {
    background-color: rgba(72, 160, 255, 0.384)
}

.profile-page-right-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y:scroll;
    width: 90%;
    height: 20rem;
}

.profile-review-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete-button {
    background-color: rgba(72, 160, 255, 0.384)
}

/* input[type='file'] {
    display: none;
} */

.profile-img-upload-container {
    display: flex;
    flex-direction: row;
    gap: 3px;
}
.img-upload-label {
    cursor: pointer;
}

.img-upload-input {
    display: none;
}

.upload-button {
    background-color: rgba(72, 160, 255, 0.384)
}