



/* COMMENTS SECTION */

.home-reviews-comments-section-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.home-reviews-commits-section-wrapper {
}

.home-reviews-comments-section-top-wrapper {
    display: grid;
    grid-template-columns: 12% 3% 75%;
    gap: 20px;
    
}



.home-reviews-comments-section-user {
    display: flex;
    background-color: aliceblue;
    height: 30px;
    justify-content: center;
}

.home-reviews-comments-section-text {
    display: grid;
}

.home-reviews-comments-section-bottom-wrapper {

}

/* COMMENT LIKE SECTION */
.comment-like-section-container {
    margin-top: 5px;
    width: 95%;
}

.comment-like-section-wrapper {
    display: flex;
    justify-content: flex-end;
}


/* COMMENT CREATE SECTION */

.home-reviews-create-comments-section {
    display: grid;
    margin-top: 8px;
    grid-template-columns: 10% 65% 5% 20%;
}

