.restaurants-container {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
}

.restaurants-top-wrapper {
    display: grid;
    padding: 3rem;
    justify-content: center;
}

.restaurants-bottom-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 5rem;
    margin-right: 5rem;
}

.restaurants-scroll-container {
    max-height: 600px;
    overflow-y: scroll;
}

.map-container {
    display: grid;
    justify-items: center;
}

.map-img {
    height: 600px;
    width: 450px;
}