.map-container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    position: sticky;
    transition: top .4s ease,margin-top .4s ease,height .4s ease;
    top: 180px;
    /* right: 0px; */
    height: calc(100vh - 200px);
    width: 600px;
}

.map-wrapper {
    height: 100%;
    width: 100%;
    left: 60px;
    box-shadow: 2px 2px 2px 2px rgb(198, 198, 198);
    padding: 10px;
    border-radius: 5px;
}