.profile-page-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-content: center;
    margin-top: 10rem;
    height: calc(100vh - 305px);

}

.profile-page-left-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 2px 2px 2px 2px rgb(198, 198, 198);
    padding: 10px;
    border-radius: 5px;
    width: 90%;
    height: 20rem;
}

.profile-page-left-wrapper-left-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}


.profile-img-container {
    box-shadow: 2px 2px 2px 2px rgb(198, 198, 198);
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    height: 150px;
}

.profile-info-container {
    box-shadow: 2px 2px 2px 2px rgb(198, 198, 198);
    padding: 2px;
    border-radius: 5px;
    width: 10rem;
}

.profile-page-left-wrapper-right-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-about-me-container {
    box-shadow: 2px 2px 2px 2px rgb(198, 198, 198);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: 150px;
}

.profile-change-password-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

.password-input {
    box-shadow: 2px 2px 2px 2px rgb(198, 198, 198);
    padding: 2px;
    border-radius: 5px;
    width: 100%;
}

.profile-change-password-btn {
    box-shadow: 2px 2px 2px 2px rgb(198, 198, 198);
    padding: 2px;
    border-radius: 5px;
    background-color: rgba(72, 160, 255, 0.384)
}

.profile-page-right-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y:scroll;
    box-shadow: 2px 2px 2px 2px rgb(198, 198, 198);
    padding: 10px;
    border-radius: 5px;
    width: 90%;
    height: 20rem;
}

.profile-review-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 2px rgb(198, 198, 198);
    padding: 10px;
    border-radius: 5px;
}

.delete-button {
    box-shadow: 2px 2px 2px 2px rgb(198, 198, 198);
    padding: 2px;
    border-radius: 5px;
    background-color: rgba(72, 160, 255, 0.384)
}