.restaurants-container {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    margin-top: 6.25rem;
}

.restaurants-top-container {
    display: grid;
    position: fixed;
    /* left: 21rem; */
    width: calc(100vw - 115px);
    left: 3rem;
    z-index: 3;
    background-color: white;
}

.restaurants-bottom-container {
    display: grid;
    
}

.restaurants-bottom-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5rem;
}

.restaurants-scroll-container {
    display: grid;
    grid-template-rows: auto;

    width: 665px;
}