.restaurants-container {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    margin-top: 6.25rem;
}

.restaurants-top-container {
    display: grid;
    padding: 3rem;
    box-shadow: 2px 2px 2px 2px rgb(198, 198, 198);
    padding: 20px;
    border-radius: 5px;
    position: fixed;
    /* left: 21rem; */
    width: calc(100vw - 115px);
    left: 3rem;
    z-index: 3;
    background-color: white;
}

.restaurants-bottom-container {
    display: grid;
    
}

.restaurants-bottom-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5rem;
    justify-items: center;
}

.restaurants-scroll-container {
    display: grid;
    grid-template-rows: auto;
    width: 800px;
}