*, *:before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;    
}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}

.large-container {
    box-shadow: 2px 2px 2px 2px rgb(198, 198, 198);
    padding: 20px;
    border-radius: 5px;
}

.med-container {
    box-shadow: 2px 2px 2px 2px rgb(198, 198, 198);
    padding: 10px;
    border-radius: 5px;
}

.med-container-no-radius {
    box-shadow: 2px 2px 2px 2px rgb(198, 198, 198);
    padding: 10px;
}

.small-container {
    box-shadow: 2px 2px 2px 2px rgb(198, 198, 198);
    padding: 5px;
    border-radius: 5px;
}

.extra-small-container {
    box-shadow: 2px 2px 2px 2px rgb(198, 198, 198);
    padding: 3px;
    border-radius: 5px;
}

.extra-extra-small-container {
    box-shadow: 2px 2px 2px 2px rgb(198, 198, 198);
    padding: 2px;
    border-radius: 5px;
}

.small-container-no-padding {
    box-shadow: 2px 2px 2px 2px rgb(198, 198, 198);
    border-radius: 5px;
}

button {
    background-color: rgba(72, 160, 255, 0.384);
}