.register-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 68vh;
}

.register-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 400px;
}

.register-wrapper input {
    width: 100%;
}
